.alert {
  padding: var(--spacing-4);
  margin-top: var(--spacing-5);
  background-color: var(--color-danger-10);
  color: var(--color-danger);

  + .form {
    margin-top: var(--spacing-5);
  }
}

h2 {
  font-weight: 500;
}

.error-list {
  padding-left: var(--spacing-5);
  list-style-type: disc;
  margin-top: var(--spacing-2);
}

.form {
  margin-top: var(--spacing-10);
  display: grid;
  row-gap: var(--spacing-8);
}

input:not([type="checkbox"]),
select,
textarea,
.form-group:not(:has(input[type="checkbox"])) > label {
  display: block;
  width: 100%;
}

label,
legend {
  font-weight: 500;
  color: var(--color-white);
}

input:not([type="checkbox"]),
select,
textarea {
  margin-top: var(--spacing-2);
  padding: var(--spacing) var(--spacing-4);
  background-color: var(--color-white-5);
  outline: 1px solid var(--color-white-15);

  &:focus {
    outline: 1px solid var(--color-info);
  }
}

select {
  height: 32px;
}

.fieldset-group {
  display: grid;
  margin-top: var(--spacing-2);
  row-gap: var(--spacing-4);

  &:has(input[type="checkbox"]) {
    grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
    column-gap: var(--spacing-2);

    .form-group {
      display: flex;
      gap: var(--spacing-4);
    }
  }
}

#author-roles-group:not(:has(.form-group)) {
  display: none;
}

.form-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-6);
}
