<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Status - Yomu</title>
</head>
<body>
  <h1>Status</h1>
  <a href="/status/new">Add Status</a>
  <ul>
    <% status.forEach(status => { %>
      <li>
        <a href="/status/<%= status.id %>"><%= status.name %></a>
        <a href="/status/<%= status.id %>/edit/">Edit</a>
        <form action="/status/<%= status.id %>/delete/" method="post">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }); %>
  </ul>
</body>
</html>